<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>404 Page Not Found</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="<%process.cwd()%>/../css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="<%process.cwd()%>/../css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="<%process.cwd()%>/../css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="container text-center">
    <div class="error-page">
      <h2 class="headline text-warning"> 404</h2>
      <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>
        <p>
          We could not find the page you were looking for.
          Meanwhile, you may <a href="/">return to dashboard</a> or try using the search form.
        </p>
      </div>
    </div>
  </div>
</body>

</html>