<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Teacher</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="<%process.cwd()%>/../css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="<%process.cwd()%>/../css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="<%process.cwd()%>/../css/responsive.css" rel="stylesheet" />
</head>


<body>
  <!DOCTYPE html>
  <html>
  
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
  
    <title>Student</title>
  
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="<%process.cwd()%>/../css/bootstrap.css" />
  
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="<%process.cwd()%>/../css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="<%process.cwd()%>/../css/responsive.css" rel="stylesheet" />
  </head>
  
  
  <body>
    <div>
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
              <img src="<%process.cwd()%>/images/logo.png" alt="">
              <span>
                Teacher
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item active">
                    <a class="nav-link" href="/dashboard/teacher">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard/teacher/attendanceupload">Add Attendance </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard/teacher/trviewattendance">View Attendance </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard/teacher/uploadnote">Upload Note </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard/teacher/assignassignment">Assign Assignment </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard/teacher/viewassignment">View Assignment </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard/teacher/addmark">Add Mark </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard/teacher/trviewmark">View Mark </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <img class="rounded-circle" src="<%process.cwd()%>/images/default.jpg" width="31"
                        alt="<%=user.Name%>">
                      <div class="user-text">
                        <h6>
                          <%=user.Name%>
                        </h6>
                      </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/auth/logout">Logout</a>
                    </div>
                  </li>
  
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
    </div>
  
  
  
  
    <body>
      <div class="hero_area">
  
  
        <section class=" slider_section position-relative">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
  
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-4 offset-md-2">
                      <div class="slider_detail-box">
                        <h1>
                          Welcome
                          <span>
                            Teacher
                          </span>
                        </h1>
                        <p>
                          "The future belongs to those who believe in the beauty of their dreams." - Eleanor Roosevelt
                        </p>
  
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
  
  
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
  
      </section>
      <!-- end slider section -->
      </div>
  
      <!-- about section -->
  
      <section class="about_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="img-box">
                <img src="<%process.cwd()%>/images/about.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="detail-box">
                <h2 class="custom_heading">
  
                  <span>
  
                  </span>
                </h2>
                <p>
                  "At Cnc College, the Department of Computer Science is committed to excellence in education, research,
                  and innovation. Our mission is to empower students with a comprehensive understanding of computer
                  science, preparing them to lead in a rapidly evolving technological landscape. We are dedicated to
                  advancing knowledge through groundbreaking research and fostering collaboration within our diverse and
                  inclusive community. Through our unwavering commitment to innovation, ethics, and social responsibility,
                  we aim to make a positive impact on society, drive technological advancements, and shape the future of
                  computing."
                </p>
                <div>
                  <a href="">
                    About More
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
  
  
  
  
  
  
  
  
  
  
      <!-- footer section -->
      <section class="container-fluid footer_section">
        <p>
          &copy; 2019 All Rights Reserved By
          <a href="<%process.cwd()%>/https://html.design/">cnc College</a>
        </p>
      </section>
      <!-- footer section -->
  
      <script type="text/javascript" src="<%process.cwd()%>/js/jquery-3.4.1.min.js"></script>
      <script type="text/javascript" src="<%process.cwd()%>/js/bootstrap.js"></script>
  
      <script>
        // This example adds a marker to indicate the position of Bondi Beach in Sydney,
        // Australia.
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: {
              lat: 40.645037,
              lng: -73.880224
            },
          });
  
          var image = 'images/maps-and-flags.png';
          var beachMarker = new google.maps.Marker({
            position: {
              lat: 40.645037,
              lng: -73.880224
            },
            map: map,
            icon: image
          });
        }
      </script>
      <!-- google map js -->
      <script
        src="<%process.cwd()%>/https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap">
        </script>
      <!-- end google map js -->
    </body>
  </body>
  
  </html>
  </div>
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2019 All Rights Reserved By
      <a href="<%process.cwd()%>/https://html.design/">cnc College</a>
    </p>
  </section>
  <!-- footer section -->
  
  <script type="text/javascript" src="<%process.cwd()%>/../js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="<%process.cwd()%>/../js/bootstrap.js"></script>
  
  </body>
  </body>
  
  </html>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>